.App{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

.App-header{
  width:100%;
  height:50px;
  background-color: black;
  margin:0px;
  padding:0px;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:15px 100px;

  .navItem,.pict{
    color:white;
    a{
      color:white;
      text-decoration: none;
      &:hover{
        color:#ccc;
      }
    }
    
  }
}

.pict{
  color:white;
}

.main{
  width:100%;
  text-align:center;
  // border:1px solid red;
  // display:block;
  // position:relative;
  // top:52px;
}

.subNav{
  background-color: #CCC;
  height:50px;
  // border:1px solid blue;
}